* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}


header {
    background: linear-gradient(to right, #eef3f2, #f0f3f2);
    padding: 40px;
}


.about {
    width: 100%;
    display: block;     
    height: 300px;
}


.about  .left-box {
    width: 40%;
    display: inline-block; 
    vertical-align: middle;
    margin-top: 80px;      
}

.about  .right-box {
    width: 50%;
    float: right;          
}

.tex1 {
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize;
}

.tex2 {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 20px;
}


.btn {
    display: inline-block;        
    width: 320px;
    padding: 14px;
    border: 1px solid gray;
    border-radius: 6px;           
    font-size: 14px;
    background-color: white;
}

.search-btn i {
    margin-left: 60px;
}


.hero-img {
    width: 50%;
    height: 50%;
    float: right;
}

.itm{
    width: 100%;
    padding: 20px 40px;

}

.product-left{
     float: left;        
    font-size: 16px;
    font-weight: bold;
}

.right-1{
    float: right;
}

.btn1{
    padding: 12px;
    background-color: white;
    
    border: 1px solid grey;
   
}

.feature{
    padding-left: 90px;
    padding-right: 10px;

}

.but{
     padding: 12px;
    background-color: white;
 
    border: 1px solid grey;
    text-decoration: none;
   
}

/* section-prodect */

.container{
    width: 100%;
    display: inline-block;  
    /* margin-top: 150px; */
    margin-left: 60px;

}
.box{
    display: inline-block;
    border: 1px solid rgb(187, 10, 10);
    padding: 20px;
    width: 450px;
    height: 600px;
    border-radius: 10px;
    margin-top: 20px;
   
    
}

.box-1{
     border: 1px solid rgb(241, 0, 92);
    padding: 20px;
    width: 430px;
    height: 600px;
    margin-left: 10px;
    
}

.photo-1{
    margin-left: 90px;
    margin-top: 60px;
}
.itm-text{
    margin-left: 20px;
}


.add::after{
   content: "+ Add";
   /* padding: 15px; */
   
   
}

.add{
   /* padding: 8px; */
  padding: 10px 20px 10px 20px;
  position: relative;
  left: 230px;
  bottom: 30px;
  border-radius: 3px;
  background-color: rgb(238, 36, 0);
  border: 1px solid grey;
  color: white;

}



    


.btn-persent{
     position: relative;
    bottom: 550px;
     background-color: rgb(128, 0, 122);
    border-radius: 4px;
    border: none;
     color: white;


}

    
    


.btn-persent::after{
    content: "10%";
    padding: 10px;
}